<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5" >
    <div class="row align-items-center g-lg-5 py-3" id="abc" >
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="/img/morant_.gif" style="width: 150%;"/>
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4" >NBA</h1>
        <p style="font-size: 20px; line-height:1.8;">
          NBA는 National Basketball Association의 약자로, 미국을 중심으로 운영되는 프로 농구 리그입니다. NBA는 세계에서 가장 유명하고 인기 있는 농구 리그 중 하나로 알려져 있으며, NBA 경기는 전 세계에 방송되고 많은 팬들에게 사랑받고 있습니다.

NBA는 1946년에 설립되었으며 현재 30개의 팀으로 구성되어 있습니다.
 이 팀들은 미국과 캐나다의 다양한 도시를 대표하고 있으며, 매년 정규 시즌과 플레이오프 경기를 진행합니다. NBA는 농구 경기의 경쟁력과 스포츠 엔터테인먼트의 조합으로 알려져 있으며, 많은 스타 선수들이 참가하여 역동적이고 흥미로운 경기가 펼쳐집니다.

NBA는 전 세계에서 많은 팬들을 끌어모으며, 농구 팬들에게는 선수들의 뛰어난 기술과 공중 공업, 슈팅 등 다양한 스킬을 감상할 수 있는 기회를 제공합니다. 또한 NBA는 다양한 상품과 머천다이즈, 온라인 커뮤니티 등을 통해 팬들과의 상호 작용을 촉진하고 있습니다.

NBA는 미국 프로 농구의 최상위 리그로서, 세계 각국의 농구 선수들이 꿈꾸는 장소입니다. 많은 선수들이 NBA에서 성공을 거두고 글로벌 농구의 스타로 발돋움하며, 농구 스포츠의 발전에 큰 영향을 미치고 있습니다.
        </p>
      </div>
      <div>
        <h1 class="display-4">Why do you like it?</h1>
        <p style="font-size: 20px; line-height: 2;">
          농구의 역동성: NBA는 공을 다루는 기술과 스피드, 압도적인 체력 등을 갖춘 선수들의 역동적인 경기를 제공합니다. 슈팅, 드리블, 덩크 등 다양한 기술을 사용하는 농구 경기는 관중에게 큰 재미와 흥미를 선사합니다.

스타 선수들: NBA는 많은 스타 선수들이 활약하는 곳으로 알려져 있습니다. 르브론 제임스, 스테판 커리, 케빈 더런트 등 세계적으로 유명하고 탁월한 능력을 지닌 선수들이 NBA에서 활약하며 팬들에게 많은 감동을 선사합니다.

경기의 경쟁력: NBA는 높은 수준의 경쟁력을 갖춘 리그로 알려져 있습니다. 각 팀들이 최고의 농구 실력을 겨뤄 우승을 쟁취하기 위해 경쟁합니다. 이러한 경쟁적인 분위기와 승부의 재미는 팬들에게 끊임없는 흥분과 기대감을 선사합니다.
          
        </p>
      </div>
    </div>
  </div>
</main>
