<!-- views/partials/header.ejs -->

<!-- HEADER -->
<header class="header">
  <div class="container">
    <div class="container-left">
      <!-- 로고 -->
      <figure class="logo">
        <a href="/">
          🏀
          <h1 class="site-title">
            <span class="">NBA World</span>
          </h1>
        </a>
      </figure>

      <!-- 메뉴 -->
      <%- include('_navigation.ejs') %>
    </div>
  </div>
</header>